svg.flowchart .cluster-label foreignObject {
    overflow: visible !important;
}

svg.flowchart .cluster-label div,
svg.flowchart .cluster-label span,
svg.flowchart .cluster-label p {
    overflow: visible !important;
    font-size: 14px !important;
    line-height: 1.2 !important;
    transform: translateY(3px) !important;
}
